.card {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--G);
  padding: 0px 32px;
  max-width: 440px;
  width: 100%;
  border-radius: 8px;
  height: 72px;
}
.button {
  width: 16px;
  height: 16px;
}
.grow {
  display: flex;
  flex-grow: 1;
}
.growLoad {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}
.text {
  font-weight: 500;
  font-size: 18px;
  line-height: 135%;
  text-transform: uppercase;
  color: var(--W);
  margin-right: 4px;
}
.equals {
  font-weight: 500;
  font-size: 18px;
  line-height: 135%;
  color: var(--G3);
  margin: 0px 4px;
}
