@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600&display=swap");

:root {
  --PRIMARY-FONT: "Space Grotesk", sans-serif;
  --BG: #11171f;
  --B: #476cff;
  --B2: #323efb;
  --B3: #10161d;
  --B4: #1f2934;
  --B5: #10161d;
  --W: white;
  --W2: #dfe1e6;
  --W3: #b4bac4;
  --W4: #d9d9d9;
  --G: #44526c;
  --G2: #7c8698;
  --G3: #606c82;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--PRIMARY-FONT);
}
input,
button {
  font-family: var(--PRIMARY-FONT);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  background-color: var(--BG);
  position: relative;
}
body::before {
  content: "";
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(65%, -10%);
  width: 202px;
  height: 247px;
  background: var(--B);
  filter: blur(100px);
}
body::after {
  content: "";
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-85%, -40%);
  width: 248px;
  height: 188px;
  background: var(--W2);
  filter: blur(150px);
}
.container {
  min-height: 100vh;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
