.container {
  min-height: 100vh;
  max-width: calc(1366px + 32px);
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.main {
  min-height: calc(100vh - 88px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
